<div class="np-video-url row">
    <form role="form" name="form" class="form-horizontal">
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <input class="col-md-12 col-xs-12 " type="text" name="url" id="url" placeholder="Video URL" ng-model="videoUrl">
            </div>
        </div>

        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <input class="col-md-10 col-xs-12 " type="text" name="comment" id="comment" placeholder="Comment"  maxlength="140" ng-model="comment">
                <div class="col-md-2 col-xs-12 np-tweet-button-container">
                    <button type="submit" class="btn btn-default col-xs-12"> Tweet to #nowplaying</button>
                </div>
            </div>
        </div>

    </form>
</div>