<!-- video list wrapper -->
<div class="np-video-wrapper row">

    <!-- video item-->
    <div class="np-video-item col-md-12 col-xs-12" ng-repeat="tweet in tweets">
        <h1 class="np-video-title">Imagine Dragons – Night Visions (Official Video)</h1>

        <!-- Video container -->
        <div class="np-video-container col-md-6 col-xs-12">
            <div class="vid">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/m0dF_1Vw6io" allowfullscreen=""></iframe>
            </div><!--./vid -->
        </div>

        <!-- Tweet container -->
        <div class="np-tweet-container col-md-6 col-xs-12">
            <div class="col-md-12 col-xs-12">

                <div class="np-twitter-account-information pull-left">
                    <img ng-src="{{tweet.user.profile_image_url}}" width="48" height="48" alt="avatar" class="pull-left">
                        <span class="np-twitter-name">
                            <strong>{{tweet.user.name}} </strong>
                            <small class="np-twitter-username">@{{tweet.user.screen_name}}</small>

                        </span>
                </div>
                <div class="np-follow-button pull-right">
                    <twitter-button user="{{tweet.user.screen_name}}"></twitter-button>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <p class="np-tweet-text">{{tweet.text}}</p>
            </div>

            <div class="col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-4"><small>{{parseTwitterDate(tweet.created_at)}}</small></div>
                <div class="col-md-9 col-xs-8">
                    <ul class="pull-right list-inline">
                        <li><i class="fa fa-reply"></i> Reply</li>
                        <li><i class="fa fa-retweet"></i> Retweet</li>
                        <li><i class="fa fa-star"></i> Favorite</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--/ video item -->

</div>
<!--/ video list wrapper -->