@import "libs/reset.css";
@import "fonts/lato.css";
@import "libs/bootstrap.min.css";
.np-normal-font {
  font-family: 'latoregular', sans-serif;
}
/* CSS DIRECTORY
  0. =COMMONS
  1. =HEADER & FOOTER
  2. =BODY
  3. =PORTFOLIO
*/
body {
  background: #edebe6;
  font-size: 16px;
  font-family: 'latoregular', sans-serif;
}
a {
  text-decoration: none;
}
