// Colors
@first-main-color: #f7f9fe;
@second-main-color: #dce8eb;

// Sizes
@header-footer-height: 80px;
@logo-size-px:45px;
@feauture-height:400px;

// font-sizes
@base-font: 16px;
@base-font-em: 1.000em;
@tiny-font: 0.750em;
@small-font: 0.875em;
@title-size-font: 1.875em;