<!-- header -->
<header class=" row">
    <h1>#nowplaying in San Francisco</h1>
    <p class="col-md-12 col-xs-12">This page shows #nowplaying tweets in San Francisco that contain a youtube link. It also allows you to post a #nowplaying tweet with a YouTube link.</p>
</header>
<!--/ header -->

<!-- video url container -->
<tweet-video></tweet-video>
<!--/ video url container -->

<!-- video list wrapper -->
<div class="np-video-wrapper row">

    <!-- video item-->
    <div class="np-video-item col-md-12 col-xs-12">
        <h1 class="np-video-title">Imagine Dragons – Night Visions (Official Video)</h1>

        <!-- Video container -->
        <div class="np-video-container col-md-6 col-xs-12">
            <div class="vid">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/m0dF_1Vw6io" allowfullscreen=""></iframe>
            </div><!--./vid -->
        </div>

        <!-- Tweet container -->
        <div class="np-tweet-container col-md-6 col-xs-12">
            <div class="col-md-12 col-xs-12">

                <div class="np-twitter-account-information pull-left">
                    <img src="images/avatar-icon.png" alt="avatar" class="pull-left">
                        <span class="np-twitter-name">
                            <strong>John Doe <i class="np-icon np-verify-twitter"></i></strong>
                            <small class="np-twitter-username">@johndoe</small>

                        </span>
                </div>
                <div class="np-follow-button pull-right">
                    <twitter-button user="bunnyinc"></twitter-button>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <p class="np-tweet-text">I love this song and band so much! http://youtu.be/DfgkAJmp9-A Can't wait to see them live. Listen! #nowplaying</p>
            </div>

            <div class="col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-4"><small>3 hours ago</small></div>
                <div class="col-md-9 col-xs-8">
                    <ul class="pull-right list-inline">
                        <li><i class="fa fa-reply"></i> Reply</li>
                        <li><i class="fa fa-retweet"></i> Retweet</li>
                        <li><i class="fa fa-star"></i> Favorite</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--/ video item -->

</div>
<!--/ video list wrapper -->